.swiper {
    width: 35%;
    height: 60vh;
}

@media (max-width: 1320px) and (min-width: 768px) {
    .swiper {
        width: 45%;
        height: 60vh;
    }
}

@media (max-width: 768px) {
    .swiper {
        width: 90%;
        height: 50vh;
    }
}